# Python
__pycache__/
*.pyc

# FastAPI specific
venv/
.env

# Editor-specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

app/__pycache__/
app/models/__pycache__/
